.title {
    color: red;
    text-align: center;
    text-decoration: underline;
}

.cards-one {
    text-align: center;

}

.cards-two {
    text-align: center;
}

.lol {
    display: inline-block;
    border: 10px ridge rebeccapurple;
    height: 600px;
    width: 304px;
}

.lor {
    display: inline-block;
    border: 10px ridge rebeccapurple;
    height: 600px;
    width: 304px;
}

.tft {
    display: inline-block;
    border: 10px ridge rebeccapurple;
    height: 600px;
    width: 304px;
}

.valorant {
    display: inline-block;
    border: 10px ridge rebeccapurple;
    height: 600px;
    width: 304px;
}

.ptext {
    font-weight: 900;
}