.title {
    color: red;
    text-align: center;
    text-decoration: underline;
}

.cards-one {
    text-align: center;
}

.cards-two {
    text-align: center;
}

.card {
    vertical-align: top;
    display: inline-block;
    border: 10px ridge rebeccapurple;
    width: 304px;
}

h2 {
    font-size: 20px;
}

.card-text {
    margin-bottom: 34px;
}
